<div class="time-output">
  <div class="error" ng-show="timeContainer.dates.length > 0 && !timeContainer.hasValidTimes">すべての日付に対して<br>時間帯を選んで下さい</div>
  <p class="label" for="event-name">
    <small>*</small>日時候補
  </p>

  <div ng-include src="'partials/desktop/select-time/time-select-control.html'"></div>

  <ng-switch on="scrollable">
    <div
      class="scroll-pane"
      ng-include src="'partials/desktop/select-time/table.html'"
      ng-switch-when="true">
    </div>
    <div
      ng-include src="'partials/desktop/select-time/table.html'"
      ng-switch-default>
    </div>
  </ng-switch>

</div>
