<div class="time-output">
  <div class="error" ng-show="timeContainer.dates.length > 0 && !timeContainer.hasValidTimes">すべての日付に対して時間帯お選び下さい</div>
  <p class="label" for="event-name">
    <small>*</small>日時候補
  </p>

  <div ng-include src="'partials/desktop/select-time/time-select-control.html'"></div>

  <ng-switch on="selectable">
    <table class="time-selection {{cssClass}}" selectable-table="" start-column="1" ng-switch-when="true">
      <thead ng-include src="'partials/desktop/select-time/table-head.html'"></div>
      <tbody ng-include src="'partials/desktop/select-time/table-body.html'"></div>
    </table>
    <table class="time-selection {{cssClass}}" start-column="1" ng-switch-default>
      <thead ng-include src="'partials/desktop/select-time/table-head.html'"></div>
      <tbody ng-include src="'partials/desktop/select-time/table-body.html'"></div>
    </table>
  </ng-switch>

</div>
