<div class="input-availabilities">
<div class="control">
  <label for="name">
    Name
  </label>
  <input type="text" id="name" ng-model="user.name">
</div>

<div class="control">
  <label for="password">Password</label>
  <input type="password" id="password" ng-model="user.password">
</div>

<select-time selection-target="availabilities" allow-empty="true" selectable="true" container-name="timeEditContainer">
</select-time>


<a href="javascript:void(0)" class="close">Close</a>
<a href="javascript:void(0)" fast-click="saveAvailabities()">Save</a>

</div>
