<div class="input-availabilities">
  <h2>
    予定を入力する
  </h2>
  <hr>
  <table class="control">
    <tr>
      <th>
        <label for="name">
          名前
        </label>
      </th>
      <td>
        <input type="text" id="name" ng-model="user.name">
        <div class="error">名前を入力してください</div>
      </td>
    </tr>
    <tr>
      <th>
        <label for="password">
          パスワード
        </label>
      </th>
      <td>
        <input type="password" id="password" ng-model="user.password">
        <div class="error">パスワードを入力してください</div>
      </td>
    </tr>
  </table>
  <select-time selection-target="availabilities" allow-empty="true" selectable="true" container-name="timeEditContainer">
  </select-time>

  <a href="javascript:void(0)" class="close"></a>
  <a href="javascript:void(0)" class="save" fast-click="saveAvailabities()" ng-class="{disabled: saving}">完了</a>

</div>
