<div class="events-info">
  <div class="basic-info">
    <h2>
      <div class="duration-h">所要時間</div>
      <div class="duration-text">約{{event.duration}}時間</div>
    </h2>
    <hr>
    <h2 ng-show="event.description.length > 0">
      <div class="comment-h">コメント</div>
      <div class="comment-text">
        {{event.description}}
      </div>
    </h2>
  </div>
  <div class="input-schedule" fast-click="openAvailabilites()">
    <p>予定を入力する</p>
  </div>
  <div class="recommend-area">
    <div class="recommend-h">
      <p>オススメ日程</p>
    </div>
    <div class="recommend-days">
      <ul class="recommend-no{{rank}}"
          ng-repeat="(rank, recommendationGroup) in availabilityContainer.recommendations">
        <li class="rank no{{rank}}">No.{{rank}}</li>
        <li ng-repeat="recommendation in recommendationGroup">
          {{recommendation.date | date: 'M/d(EEE)'}}
          {{recommendation.start|timeFromIndex}}
          〜
          {{recommendation.end|timeFromIndex}}
        </li>
      </ul>
    </div>
  </div>
  <div class="people-inputed-area">
    <div class="people-inputed-h">
      <p>入力した人</p>
    </div>
    <div class="people-inputed-contents">
      <ul>
        <li
          ng-repeat="participant in participants"
          ng-click="selectUser(participant)"
          ng-class="{selected: selectedUser == participant}"
        >
          {{participant.name}}
          <a href="javascript:void(0)" fast-click="openAvailabilites(participant)" class="edit" ng-show="selectedUser == participant">
            編集
          </a>
        </li>
      </ul>
      <p><small>*</small>名前をクリックすると予定を確認・修正できます。</p>
    </div>
  </div>
</div>
<hr class="event-horizen">
<div class="heatmap-area">
  <ng-switch on="selectedUser">
    <h2 ng-switch-when="null">みんなの予定</h2>
    <h2 ng-switch-default>{{selectedUser.name}}の予定</h2>
  </ng-switch>
  <div select-time selection-target="availabilities" class="heat-map">
  </div>
  <!-- <p class="help-mydates">* 橙色の枠部分は自分が参加できる日時です。</p> -->
  <p class="help-select">* 色のついたボックスを選択すると、その日時に参加できる人が表示されます。</p>
</div>
<hr class="event-horizen">
<div class="organizer-area">
  <h2>主催者の方へ</h2>
  <div class="share-box-top">
    <div class="share-h">
      <p>下記URLをコピーして参加者に共有してください。</p>
    </div>
    <input class="share-url" selectable-input type="text" value="{{event.getUrl()}}" readonly="readonly">
<!--     <div class="btn-copy">
      <p>コピー?</p>
    </div>
    <div id="copy-confirm">
      Copied!
    </div>
 -->  </div>
  <div class="share-box-bottom">
<!--     <div class="share-mail">
      <p>メール</p>
    </div>
 -->
    <div class="share-twitter">
      <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-lang="ja" data-text="イベントを作成しました！参加者は予定入力をお願いします(^-^) {{event.getUrl()}}">ツイッターで送る</a>
    </div>
    <div class="share-facebook">
      <div class="fb-send" data-href="{{event.getUrl()}}" data-width="64px" data-height="32px" data-colorscheme="light"></div>
    </div>
<!--     <div class="delete-event">
      <p><a href="">このイベントを削除する</a></p>
    </div> -->
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=218831004960391";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
