@import "compass";
@import "compass/reset";

$main-content-width: 60%;
$main-color: #00796F;
$friendly-orange: #FF5B26;

$dark-green: #339933;
$light-grey: #DCDDDD;

$selected-cell-color: $dark-green;
$closed-cell-color: $light-grey;


@import "modules/all";
