.cell {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.no-space [class*="span"] {
  margin-left: 0;
}

.selected {
  background-color: $selected-cell-color;
}

.unselected {
  background-color: $light-grey;
}
