.cell {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.no-space [class*="span"] {
  margin-left: 0;
}

.selectable {
  &.selected {
    background-color: $selected-cell-color;
  }
}

.current-month-title {
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -53px;
  font-size: 22px;
}

.previous {
  width: 16px;
  height: 25px;
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  margin-bottom: 13px;
  background: image-url("common/cal-arrow-left.png") no-repeat;
  background-size: 16px;
  background-position: top left;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.next {
  width: 16px;
  height: 25px;
  float: right;
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 13px;
  background: image-url("common/cal-arrow-right.png") no-repeat;
  background-size: 16px;
  background-position: top right;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.calendar-toolbar {
  width: 100%;
  height: 30px;
  text-align: center;
  position: relative;
}

.calendar {
  width: 90%;
  @media only screen and (min-width: 760px) {
    width: 350px;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  background: image-url("common/back-green-main.png");
  color: white;
  font-size:25px;
  overflow: hidden;
  table {
    width: 99.5%;
    float: left;
    margin-left: 1px;
    background: image-url("common/back-green-sub.png");
    thead {
      background: image-url("common/back-green-main.png");
      tr {
        td {
          text-align: center;
          font-size: 16px;
          padding-bottom: 7px;
        }
      }
    }
    tbody {
      td {
        border: 1px solid $main-color;
        color: #444;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        cursor: pointer;
        &.selected {
          color: white;
        }
      }
      .past {
        background: #999;
        color: #AAA;
        cursor: default;
        &.selected {
          color: #CCC;
        }
      }
      .previous-month {
        color: #AAA;
        &.selected {
          color: #CCC;
        }
      }
      .next-month {
        color: #AAA;
        &.selected {
          color: #CCC;
        }
      }
    }
  }
}
