@media only screen and (max-width: 760px) {

button {
  border: none;
  font-size:20px;
}
.page {
  width: 100%;
  height: auto;
  background: image-url("common/back-green-sub.png");
  .content {
    padding-bottom: 30px;
  }
  h1 {
    font-weight: bold;
    color: $main-color;
    margin-left: auto;
    margin-right: auto;
    &.create-event {
      width: 250px;
      height: 70px;
      font-size: 20px;
      padding-top: 30px;
      padding-left: 70px;
      background: image-url("mobile/h1-create.png") no-repeat;
      background-size: 290px;
      background-position: center center;
    }
    &.events {
      color: #525252;
      width: 310px;
      height: 40px;
      text-align: center;
      font-size: 16px;
      padding-top: 17px;
      background: image-url("mobile/h1-event-title.png") no-repeat;
      background-size: 310px;
      background-position: 5px 30px;
    }
  }
  h2 {
    &.create-event {
      color: #777777;
      text-align: center;
      small {
        color: red;
        padding-right: 2px;
      }
    }
  }
}
header {
  width: 100%;
  height: 50px;
  background: image-url("common/header.png") repeat-x;
  .logo {
    float: left;
    margin-top: 13px;
    margin-left: 13px;
    img {
      width: 128px;
    }
  }
  .create-mode {
    position: fixed;
    top:0px;
    z-index: 2;
    a {
      text-decoration: none;
      color: white;
    }
    .logo {
      position: absolute;
      top: 1px;
      left: 50%;
      margin-left: -69px;
    }
    .back-link {
      float: left;
      padding-top: 14px;
      padding-left: 15px;
      img {
        width: 14px;
      }
    }
    .next-link {
      float: right;
      width: 110px;
      height: 40px;
      margin-top: 10px;
      margin-right: -59px;
      padding-top: 7px;
      padding-left: 14px;
      background: image-url("mobile/btn-green.png") no-repeat;
      background-size: 60px;
      p {
        font-size: 16px;
      }
    }
  }
}
footer {
  width: 100%;
  height: 97px;
  background: image-url("common/footer.png") repeat-x;
  img {
    margin-top: 15px;
    width: 168px;
  }
  p {
    text-align: center;
    &.copyright {
      color: white;
      font-size: 23px;
      margin-top: 5px;
    }
  }
}
.mainvisual {
  width: 100%;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  background: image-url("mobile/mainvisual.png") no-repeat;
  background-size: 1000px;
  background-position: 52% center;
  .catch-area {
    padding-top: 110px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      text-align: center;
      img.logo {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        margin-top: 30px;
        font-size: 15px;
        color: #777777;
      }
    }
    h2 {
      text-align: center;
      button {
        width: 280px;
        height: 67px;
        margin-top: 70px;
        background: image-url("mobile/btn-create-event.png")no-repeat;
        background-size: 280px 67px;
        color: white;
        padding-left: 60px;
        padding-top: -40px;
        font-size: 18px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.feature-bar {
  width: 100%;
  height: 63px;
  background: image-url("common/back-gray-777.png");
  .title {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100px;
      float: left;
      padding-top: 21px;
    }
    h2 {
      color: white;
      float: left;
      padding-top: 20px;
      padding-left: 15px;
      font-size: 20px;
    }
  }
}
.feature-contents {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 50px;
  background: image-url("common/back-gray-DDD.png");
  position: relative;
  .beat {
    position: relative;
    top:40px;
    width:100%;
    height:53px;
    background: image-url("mobile/h3-beat.png") repeat-x;
    background-size: 330px 100%;
    background-position: center center;
    h3 {
      text-align: center;
      color:#444444;
      font-size: 32px;
      line-height: 30px;
    }
  }
  .feature-box {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      font-size: 30px;
      font-weight: bold;
      color: #444;
      text-align: center;
      margin-left: -15px;
    }
    img {
      margin-top:18px;
      height: 100px;
    }
    p {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-color: 15px;
      color: #535353;
      line-height: 1.4em;
      margin-top: 17px;
      b {
        color: $main-color;
        font-weight: bold;
      }
      &.center {
        text-align: center;
      }
    }
  }
}
.howto-bar {
  width: 100%;
  height: 63px;
  background: image-url("common/back-green-main.png");
  .title {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100px;
      float: left;
      padding-top: 21px;
    }
    h2 {
      color: white;
      float: left;
      padding-top: 21px;
      padding-left: 15px;
      font-size: 18px;
    }
  }
}
.howto-contents {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background: image-url("common/back-green-sub.png");
  position: relative;
  .howto-box {
    width: 100%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    .arrow {
      min-width: 300px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height:33px;
      background: image-url("mobile/h3-arrow.png") no-repeat;
      background-size: 100%;
      background-position: center 10%;
      h3 {
        font-size: 26px;
        font-weight: bold;
        line-height: 0px;
        color: $main-color;
        text-align: center;
      }
    }
    img {
      margin-top: -20px;
      height: 100px;
    }
    p {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-color: 15px;
      color: #535353;
      line-height: 1.4em;
      margin-top: 17px;
      b {
        color: $main-color;
        font-weight: bold;
      }
      &.center {
        text-align: center;
      }
    }
  }
}
.mainvisual2 {
  width: 100%;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  background: image-url("mobile/mainvisual.png") no-repeat;
  background-size: 1000px;
  background-position: 52% center;
  .catch-area {
    padding-top: 50px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      text-align: center;
      img.logo {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        margin-top: 10px;
        font-size: 15px;
        color: #777777;
      }
    }
    h2 {
      text-align: center;
      img {
        width: 80px;
        margin-top: 15px;
      }
      button {
        width: 280px;
        height: 67px;
        margin-top: 20px;
        background: image-url("mobile/btn-create-event.png")no-repeat;
        background-size: 280px 67px;
        color: white;
        padding-left: 60px;
        padding-top: -40px;
        font-size: 18px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.create-book {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border: 4px solid $main-color;
  small {
    color: red;
    padding-right: 6px;
  }
}
.create-basic {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 3.1em;
  tr {
    th {
      width: 80px;
      text-align: left;
      vertical-align: middle;
      color: #777777;
      font-size: 12px;
      line-height: 1.3em;
    }
    td {
      text-align: left;
      padding-left: 15px;
      input {
        width: 95%;
        height: 25px;
      }
      textarea {
        width: 95%;
        margin-bottom: -20px;
        resize:none;
      }
    }
  }
}

.calendar-area {
  margin-top: 20px;
  overflow: hidden;
  h2 {
    text-align: center;
    color: #777777;
    font-size: 13px;
  }
  small {
    color:red;
  }
}


.btn-next-link {
  width: 280px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: $main-color;
  border-radius: 5px;
  a {
    display: block;
    height: 100%;
    clear: both;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    padding-top: 19px;
    font-size: 20px;
    &.disabled {
      cursor: default;
    }
  }
  &:hover {
    opacity: 0.7;
  }
}

.time-selection-area {
  position: relative;
  top: 0px;
  background: white;
}

.confirm-book-mobile {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 3px solid $main-color;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    tr {
      th {
        width: 70px;
        color: #777;
        text-align: right;
        padding-top: 8px;
        vertical-align: top;
      }
      td {
        text-align: left;
        padding-left: 4px;
        color: #444;
        font-size: 15px;
        padding-top: 4px;
        vertical-align: top;
        line-height: 20px;
        hr {
          padding-bottom: 5px;
          width: 99%;
        }
        &.conf-event-title {
          font-weight: bold;
          color: $main-color;
          padding-left: 8px;
          padding-bottom: 3px;
        }
        &.conf-event-duration {
          font-weight: bold;
          color: $main-color;
        }
        &.conf-event-description {
          font-weight: normal;
          font-size: 14px;
        }
        &.conf-event-dates {
          font-weight: normal;
          font-size: 13px;
          color: $main-color;
        }
      }
    }
  }
}

.share-url {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  .share-box {
    width: 300px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    input {
      width: 200px;
      margin-top: 12px;
      height: 25px;
      float: left;
    }
    .copy-box {
      float: left;
      margin-left: 5px;
      width: 70px;
      height: 40px;
      margin-top: 10px;
      background: image-url("mobile/btn-green.png") no-repeat;
      background-size: 70px;
      p {
        color: white;
        text-align: center;
        padding-top: 11px;
        padding-left: 2px;
        font-size: 15px;
      }
    }
  }
  .share-sns {
    margin-top: 13px;
    width:290px;
    margin-left: auto;
    margin-right: auto;
    p {
      color: white;
      font-size: 12px;
      padding-top: 8px;
      padding-left: 42px;
      line-height: 1.3em;
    }
    .share-line {
      width: 90px;
      height: 50px;
      float: left;
      margin-left: 5px;
      background: image-url("mobile/btn-send-line.png") no-repeat;
      background-size: 90px;
    }
    .share-twitter {
      width: 90px;
      height: 50px;
      float: left;
      margin-left: 5px;
      background: image-url("mobile/btn-send-twitter.png") no-repeat;
      background-size: 90px;
    }
    .share-facebook {
      width: 90px;
      height: 50px;
      float: left;
      margin-left: 5px;
      background: image-url("mobile/btn-send-facebook.png") no-repeat;
      background-size: 90px;
      p {
        padding-left: 30px;
      }
    }
  }
}

.btn-goinput {
  width: 280px;
  height: 80px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: $main-color;
  border-radius: 4px;
  p {
    clear: both;
    color: white;
    text-align: center;
    padding-top:29px;
    font-size: 20px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.time-output {
  margin-top: 20px;
  p {
    text-align: center;
    color: #777777;
  }
  small {
    color: red;
    padding-right: 6px;
  }
  .overnavi {
    position: relative;
    .overnavi-left {
      position: absolute;
      top: -25px;
      right: 104px;
      width: 35px;
      height: 27px;
      background: image-url("desktop/overnavi-left.png") no-repeat;
      &.disabled {
        background: image-url("desktop/overnavi-left-die.png") no-repeat;
      }
    }
    .overnavi-right {
      position: absolute;
      top: -25px;
      right: 70px;
      width: 35px;
      height: 27px;
      background: image-url("desktop/overnavi-right.png") no-repeat;
      &.disabled {
        background: image-url("desktop/overnavi-right-die.png") no-repeat;
      }
    }
  }
}


.events-date {
  margin-top: -24px;
  width: 300px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background: image-url("mobile/dates-header.png") no-repeat;
  background-size: 300px;
  background-position: center top;
  p {
    padding-top: 23px;
    text-align: center;
    small {
      font-size: 13px;
      color: yellow;
    }
    big {
      margin-left: 10px;
      color: white;
    }
  }
}

.events-info {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.basic-info {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  h2 {
    overflow: hidden;
    clear: both;
    padding: 5px;
    .duration-h {
      float: left;
      width: 60px;
      color: #777777;
      font-size: 13px;
    }
    .duration-text {
      float: left;
      width: 70%;
      margin-top: -1px;
      margin-left: 10px;
      color: $main-color;
      font-weight: bold;
      font-size: 16px;
    }
    .comment-h {
      float: left;
      width: 60px;
      color: #777777;
      font-size: 13px;
    }
    .comment-text {
      float: left;
      width: 75%;
      margin-left: 10px;
      color: #333333;
      font-size: 14px;
    }
  }
}


.recommend-area {
  overflow: hidden;
  width: 91%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  .recommend-h {
    border-bottom: 1px dotted #D93600;
    overflow: hidden;
    h2 {
      float: left;
      width: 80px;
      height: 32px;
      color: #D93600;
      text-align: center;
      font-weight: bold;
      line-height: 2.0em;
      margin-left: 5px;
    }
  }
  table.recommend-days {
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: left;
    tr {
      overflow: hidden;
      margin-top: 35px;
      padding-bottom: 5px;
      th {
        width: 15%;
        height: 12px;
        padding-top: 16px;
        padding-left: 31px;
        font-size: 11px;
        font-weight: bold;
        vertical-align: top;
        &.no1 {
          background: image-url("common/icon-rank-1.png") no-repeat;
          background-size: 13px;
          background-position: 15px 15px;
        }
        &.no2 {
          background: image-url("common/icon-rank-2.png") no-repeat;
          background-size: 13px;
          background-position: 15px 15px;
        }
        &.no3 {
          background: image-url("common/icon-rank-3.png") no-repeat;
          background-size: 13px;
          background-position: 15px 15px;
        }
      }
      td {
        width: 80%;
        padding-top: 8px;
        padding-left: 25px;
        line-height: 1.8em;
        vertical-align: top;
        ul {
          li {
            float: left;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.people-inputed-area {
  overflow: hidden;
  width: 91%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  .people-inputed-h {
    border-bottom: 1px dotted $main-color;
    overflow: hidden;
    h2 {
      float: left;
      width: 80px;
      height: 32px;
      color: $main-color;
      text-align: center;
      font-weight: bold;
      line-height: 2.0em;
      margin-left: 5px;
    }
    p {
      float: right;
      font-size: 10px;
      margin-top: 13px;
      margin-right: 5px;
      color: #777777;
      small {
        color: red;
        padding-right: 3px;
      }
    }
  }
  .people-inputed-contents {
    padding: 5px;
    font-size: 12px;
    text-align: left;
    ul {
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      li {
        float: left;
        width: 74px;
        height: 19px;
        background: image-url("common/icon-person-black.png") no-repeat;
        background-size: 12px;
        padding-left: 14px;
        padding-top: -1px;
        margin-top: 10px;
        margin-left: 5px;
        line-height: 1.3em;
      }
    }
  }
}

.notches {
  margin-top: 10px;
  width: 100%;
  height: 3px;
  background: image-url("common/notches.png") repeat-x;
  background-size: 7px;
}

.input-area {
  padding-top: 30px;
  background: white;
  .tabs {
    width: 240px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: image-url("mobile/tab-off.png") no-repeat;
    background-size: 240px;
    font-size: 17px;
    color: white;
    text-align: center;
    .tab-heatmap {
      float: left;
      width: 119px;
      height: 31px;
      background: image-url("mobile/tab-heatmap.png") no-repeat;
      background-size: 0px;
      &:hover {
        opacity: 0.7;
      }
      p {
        color: white;
        padding-top: 8px;
      }
    }
    .tab-input {
      float: right;
      width: 119px;
      height: 31px;
      background: image-url("mobile/tab-input.png") no-repeat;
      background-size: 120px;
      &:hover {
        opacity: 0.7;
      }
      p {
        color: #777;
        padding-top: 8px;
      }
    }
  }
  .input-schedule {
    margin-top:20px;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    .input-login {
      width:90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      img.pencil {
        position: absolute;
        top:5px;
        right:0px;
        width: 50px;
      }
      table {
        margin-top:20px;
        width:100%;
        border: 3px solid $main-color;
        padding:5px;
        tr {
          width:96%;
          margin-left: auto;
          margin-right: auto;
          th {
            color: #777777;
            float: right;
            margin-top:20px;
            margin-left: 20%;
            text-align: right;
          }
          td {
            h3 {
              text-align: center;
              color: $main-color;
              padding-top: 13px;
              padding-bottom: 5px;
              font-size: 20px;
              font-weight: bold;
            }
            hr {
              width:85%;
              margin-left: auto;
              margin-right: auto;
              border-top: 2px dotted $main-color;
            }
            input {
              float: left;
              width: 60%;
              margin-top:20px;
              margin-left: 20px;
            }
            select {
              float: left;
              width: 60%;
              margin-top:20px;
              margin-left: 20px;
            }
            button {
              width:200px;
              position: relative;
              top:10px;
              left:50%;
              margin-left: -100px;
              margin-bottom: 20px;
              background: image-url("common/back-green-main.png");
              color:white;
              font-size: 17px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  .overnavi {
    position: relative;
    .overnavi-left {
      position: absolute;
      top: 0px;
      left: 10px;
      width: 35px;
      height: 27px;
      background: image-url("mobile/overnavi-left.png") no-repeat;
      background-size: 35px;
    }
    .overnavi-right {
      position: absolute;
      top: 0px;
      right: 10px;
      width: 35px;
      height: 27px;
      background: image-url("mobile/overnavi-right.png") no-repeat;
      background-size: 35px;
    }
  }
}


.area-selected {
  position: fixed;
  top: 100px;
  left: 100%;
  width: 90%;
  height: auto;
  margin-left: -95%;
  background: #222;
  border-radius: 5px;
  padding-bottom: 10px;
  opacity: 0.95;
  z-index: 9999;
  .area-selected-info {
    padding: 10px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    h3 {
      text-align: center;
      color: yellow;
      font-size: 14px;
      font-weight: bold;
      margin-left: -5%;
    }
    hr {
      float: left;
      width:95%;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px dotted yellow;
    }
    ul {
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      li {
        float: left;
        width: 74px;
        height: 19px;
        background: image-url("common/icon-person-white.png") no-repeat;
        background-size: 12px;
        padding-left: 14px;
        padding-top: -1px;
        margin-top: 10px;
        margin-left: 5px;
        line-height: 1.3em;
        color: white;
      }
    }
  }
  .btn-close {
    float: left;
    width: 45%;
    height: 34px;
    color: white;
    font-size: 13px;
    line-height: 2.6em;
    text-align: center;
    background: #444;
    border-radius: 7px;
    border: 1px solid white;
    margin-left: 3%;
    p {
      width: 100%;
      height:100%;
      padding-left: 5%;
      background: image-url("mobile/modal-close.png") no-repeat;
      background-size: 15px;
      background-position: 25% 9px;
    }
  }
  .btn-decide-day {
    float: right;
    width: 45%;
    height: 34px;
    color: white;
    font-size: 13px;
    line-height: 2.6em;
    text-align: center;
    background: #B20000;
    border-radius: 7px;
    border: 1px solid white;
    margin-right: 3%;
    p {
      padding-left: 5%;
    }
  }
}
.organizer-area {
  margin-top: 30px;
  h2 {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    background: image-url("common/icon-person-black.png") no-repeat;
    padding-bottom: 3px;
    font-size: 25px;
    text-align: center;
  }
  .share-box-left {
    width: 590px;
    height: auto;
    float: left;
    background: #CCCCCC;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    .share-h {
      width: 560px;
      padding:10px;
      margin-left: auto;
      margin-right: auto;
      background: image-url("common/back-green-main.png");
      color: white;
    }
    .share-url {
      width: 560px;
      padding:10px;
      margin-left: auto;
      margin-right: auto;
      background: white;
      color: #202020;
    }
  }
  .share-box-right {
    float: left;
    margin-top: 30px;
    .share-mail {
      margin-left: 20px;
      float: left;
      width:68px;
      height: 20px;
      background: image-url("desktop/btn-mail.png") no-repeat;
      p {
        font-size: 12px;
        font-weight: bold;
        padding-top: 5px;
        padding-left: 22px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .share-twitter {
      float: left;
      margin-left: 10px;
      width:68px;
      height: 20px;
      background: image-url("desktop/btn-mail.png") no-repeat;
    }
    .share-facebook {
      float: left;
      margin-left: 10px;
      width:68px;
      height: 20px;
      background: image-url("desktop/btn-mail.png") no-repeat;
    }
    .delete-event {
      margin-top: 50px;
      margin-left: 65px;
      width: 200px;
      height: 16px;
      background: image-url("desktop/dustbox.png") no-repeat;
      p {
        text-align: left;
        padding-top: 3px;
        padding-left: 16px;
        font-size: 14px;
      }
    }
  }
}

}

