.modal {
  width:950px;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
}

.input-availabilities {
  h2 {
    width: 210px;
    margin-top: 30px;
    margin-left: 370px;
    background: image-url("common/logo-symbol.png") no-repeat;
    padding-top: 3px;
    padding-left: 22px;
    font-size: 25px;
    text-align: center;
    color: $main-color;
  }
  hr {
    margin-top:10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px dotted $main-color;
  }
  table.control {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    tr {
      th {
        padding-top: 20px;
        text-align: right;
        color: #777;
      }
      td {
        text-align: left;
        input {
          margin-top: 20px;
          margin-left: 30px;
        }
      }
    }
  }
  .close {
    position: absolute;
    top: -27px;
    right: -27px;
    width: 64px;
    height: 64px;
    background: image-url("desktop/modal-close.png") no-repeat;
    &:hover {
      background: image-url("desktop/modal-close-on.png") no-repeat;
    }
  }
  .save {
    display: block;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background: $main-color;
    border-radius: 5px;
    padding-top: 13px;
    font-size: 20px;
    text-decoration: none;
    color:white;
    text-align: center;
    &:hover {
      background: $ocean-blue;
    }
  }
}

.confirm-book {
  width: 840px;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 3px solid $main-color;
  text-align: left;
  padding: 20px;
  table {
    tr {
      th {
        width: 100px;
        color: #777;
        text-align: right;
        padding-top: 8px;
        vertical-align: top;
      }
      td {
        padding-left: 4px;
        color: #444;
        font-size: 26px;
        font-weight: bold;
        vertical-align: top;
      }
      &.basic-info-top {
        td {
          width: 730px;
          font-size: 26px;
          hr {
            width: 100%;
            margin-top: 6px;
            margin-bottom: 15px;
            border-bottom: 2px dotted $main-color;
          }
        }
      }
      &.basic-info-bottom {
        th {
          height: 30px;
          margin-right: -50px;
          &.conf-event-dates {
            width: 60px;
          }
        }
        td {
          width: 240px;
          padding-left: 9px;
          font-size: 26px;
          &.conf-event-duration {
            font-size: 20px;
            padding-top: 5px;
            color: $main-color;
          }
          &.conf-event-dates {
            width: 170px;
            padding-top: 2px;
            font-size: 18px;
            line-height: 23px;
            color: $main-color;
          }
          &.conf-event-description {
            padding-left: 7px;
            font-size: 17px;
            font-weight: normal;
            color: #444;
            padding-top: 6px;
            line-height: 19px;
          }
        }
      }
    }
    .fix-event {
      margin-top: 30px;
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      background: #B20000;
      border-radius: 5px;
      padding: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
      p {
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color:white;
      }
    }
  }
}
.goinput {
  width: 339px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background: image-url("desktop/btn-goinput.png") no-repeat;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  p {
    width: 339px;
    padding-top: 16px;
    text-align: center;
    font-size: 21px;
    color: white;
  }
}

