.time-selection {
  width: 90%;
  @media only screen and (min-width: 760px) {
    width: 800px;
  }
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 1px;
  tr {
    &.days-of-week {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &.even-time-true {
      background: #FFF4E1;
    }
    &.even-time-false {
      background: #D5EEDA;
    }
    td {
      text-align: center;
      color: $main-color;
      font-weight: bold;
      &.cell {
        width: 5px;
        @media only screen and (min-width: 760px) {
          width: 10%;
        }
        height: 20px;
        cursor: image-url("common/pointer-pen.png") no-repeat;
        &.time-label {
          width: 1%;
          padding-left: 20px;
          padding-right: 10px;
          text-align: right;
          font-size: 13px;
          color: #535353;
          cursor: default;
        }
      }
    }
  }

  &.availabilities {
    td {
      &.selected-false {
        background: #cdcdcd;
      }
      &.opened {
        background: #dcdddd;
      }
      &.selected-true {
        background: $selected-cell-color;
      }
    }
  }

  /* オリジナルスクロールバー
  ::-webkit-scrollbar {
      width: 12px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255,0,0,0.8);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
  }
  */

}

