<div class="time-output">
  <div
    class="error"
    ng-show="timeContainer.dates.length > 0 && !timeContainer.hasValidTimes">
      すべての日付に対して
      <br>
      時間帯を選んで下さい
  </div>
  <p class="label" for="event-name" ng-if="selectable">
    <small>*</small>日時候補
  </p>

  <div ng-include src="'partials/select-time/time-select-control.html'"></div>

  <ng-switch on="scrollable">
    <div ng-switch-when="true">
      <div class="scroll-pane"
        ng-include src="'partials/select-time/table.html'">
      </div>
    </div>
    <div ng-switch-default>
      <div ng-include src="'partials/select-time/table.html'">
      </div>
    </div>
  </ng-switch>

</div>
