<div class="action">
  <span class="label" for="event-name">Event name</span>
  <input type="text" id="event-name" ng-model="event.name">
</div>

<div class="action">
  <span class="label" for="event-duration">Needed time</span>
  <input type="number" id="event-duration" ng-model="event.duration">
</div>

<div class="action">
  <span class="label" for="event-content">Event content</span>
  <textarea id="event-content" cols="30" rows="10" ng-model="event.description"></textarea>
</div>

<button ui-sref="create-event.select-time" fast-link ng-disabled="calendar.selectedDates | isEmpty">Select dates</button>

<calendar toggable="true">
</calendar>

<input type="submit" fast-click="saveEvent()">
</div>
