<h1 class="create-event">
  イベントを作成する
</h1>
<div class="create-book">
  <form novalidate class="css-form">
  <table class="book-left">
    <tr class="action">
      <th>
        <span class="label" for="event-title">
        <small>*</small>イベント名</span></th>
      <td>
        <input type="text" id="event-title" ng-model="event.title" required>
        <div class="error">イベント名を入力してください</div>
      </td>
    </tr>
    <tr class="action">
      <th>
        <span class="label" for="event-duration">
        <small>*</small>所要時間</span>
      </th>
      <td>
        <input type="number" id="event-duration" ng-model="event.duration" required>
        <div class="error">イベント名を入力してください</div>
      </td>
    </tr>
    <tr class="action">
      <th>
        <span class="label" for="event-description">詳細・コメント</span>
      </th>
      <td>
        <textarea id="event-description" cols="28" rows="10" ng-model="event.description"></textarea>
        <div class="error">イベント名を入力してください</div>
      </td>
    </tr>
    <tr class="action">
      <th>
        <span class="label" for="event-password">
          <small>*</small>主催者パスワード
        </span>
      </th>
      <td>
        <input type="password" id="event-password" ng-model="event.password" required>
        <div class="error">イベント名を入力してください</div>
      </td>
    </tr>
    </form>
  </table>
  <div class="book-right">
    <span><small>*</small>所要時間</span>
    <div class="error">イベント名を入力してください</div>
    <calendar toggable="true" allow-past-dates="false">
    </calendar>
  </div>
</div>
<select-time selection-target="possibilities" allow-empty="true">
  <div class="error">イベント名を入力してください</div>
</select-time>

<div class="btn-create-event">
  <input
    class="create-event"
    type="image"
    src="images/desktop/btn-create-event-long.png"
    fast-click="saveEvent()"
  >
  <p>イベントを作成する</p>
</div>
