<div class="time-output" ng-init="page=1">
  <p class="label" for="event-name"><small>*</small>日時候補</p>
  <div class="overnavi">
    <div class="overnavi-left" ng-click="page = page - 1" ng-disabled="page<=1"></div>
    <div class="overnavi-right" ng-click="page = page + 1" ng-disabled="page >= maxPage"></div>
  </div>
  <table class="time-selection" selectable-table="" start-column="1" start-row="1">
    <tr class="days-of-week">
      <td></td>
      <td ng-repeat="dateInfo in timeContainer.dates">
        {{ dateInfo.date | date:'MM/d（EEE曜）' }}
      </td>
    </tr>
    <tr ng-repeat="i in timeContainer.rows()" emit-on-render ng-init="show=i % 2 == 0">
      <td class="cell even-time-{{i % 4 == 0}}" ng-class="{'time-label': show}" ng-bind="{true: (i|timeFromIndex), false: ''}[show]"></td>
      <td class="cell selected-{{time.isOpened()}}" ng-init="time=date.times[i]" ng-repeat="date in timeContainer.dates" emit-on-render="parent">
      </td>
    </tr>
  </table>
</div>
