<table class="create-basic">
  <form novalidate>
  <tr class="action">
    <th>
      <h2>
        <span class="label" for="event-title">
        <small>*</small>イベント名</span>
      </h2>
    </th>
    <td>
      <input type="text" id="event-title" ng-model="event.title" required>
    </td>
  </tr>

  <tr class="action">
    <th>
      <h2>
        <span class="label" for="event-duration">
        <small>*</small>所要時間</span>
      </h2>
    </th>
    <td>
      <input type="number" id="event-duration" ng-model="event.duration" required>
    </td>
  </tr>

  <tr class="action">
    <th>
      <h2>
        <span class="label" for="event-content">　詳細<br>　コメント</span>
      </h2>
    </th>
    <td>
      <textarea id="event-content" rows="5" ng-model="event.description"></textarea>
    </td>
  </tr>

  <tr class="action">
    <th>
      <h2>
        <span class="label" for="event-password">
        <small>*</small>主催者<br>　パスワード</span>
      </h2>
    </th>
    <td>
      <input type="password" id="event-password" ng-model="event.password" required>
    </td>
  </tr>
  </form>
</table>
