<div class="confirm-book-mobile">
  <table>
    <tr>
      <td colspan="2" class="conf-event-title">
        {{event.title}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr class="green">
      </td>
    </tr>
    <tr>
      <th>
        所要時間：
      </th>
      <td class="conf-event-duration">
        約{{event.duration}}時間
      </td>
    </tr>
    <tr ng-show="event.description">
      <th>
        コメント：
      </th>
      <td class="conf-event-description">
        {{event.description}}}
      </td>
    </tr>
    <tr>
      <th>
        日程：
      </th>
      <td class="conf-event-dates">
        <span ng-repeat="dateInfo in timeContainer.dates">
          {{ dateInfo.date | date:'MM/d（EEE）' }}
        </span>
      </td>
    </tr>
  </table>
</div>

<div class="gide-arrow"></div>

<div class="share-url">
  <h2 class="create-event">
    <span class="label" for=""><small>*</small>下記URLを参加者へ送ってください</span>
  </h2>
  <div class="share-box">
    <input type="textbox" value="{{event.getUrl()}}">
    <div class="copy-box">
      <p>コピー！</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="share-sns">
    <div class="share-line">
      <p>LINE<br>で送る</p>
    </div>
    <div class="share-twitter">
      <p>twitter<br>で送る</p>
    </div>
    <div class="share-facebook">
      <p>Facebook<br>で送る</p>
    </div>
  </div>
</div>

<div class="gide-arrow"></div>

<div class="btn-goinput">
  <p>自分の予定を入力する</p>
</div>
