<div class="create-book">
  <ng-include src="'partials/mobile/create-event/basic-info.html'"></ng-include>
</div>

<div class="calendar-area">
  <h2>
    <span class="label" for=""><small>*</small>日程指定</span>
  </h2>
  <calendar toggable="true">
  </calendar>
</div>

<div class="clear"></div>

<div class="btn-next-link"
     ng-class="{disabled: !calendar.hasSelectedDates()}">
  <a href="javascript:void(0)"
     dsref="^.select-time"
     ng-class="{disabled: !calendar.hasSelectedDates()}"
     fast-link>
     次へ
    </a>
</div>
