<h2 class="create-event">
  <span class="label" for=""><small>*</small>候補時間をタップしてください</span>
</h2>

<div class="time-selection-area">
  <hr class="create-event">
  <select-time selection-target="possibilities" allow-empty="true" selectable="true"></select-time>
</div>

<div class="btn-next-link"
     ng-class="{disabled: !calendar.hasSelectedDates()}">
  <a href="javascript:void(0)"
     dsref="^.select-time"
     ng-class="{disabled: !calendar.hasSelectedDates()}"
     fast-click="saveEvent()">
     作成
    </a>
</div>
