<div class="page">
  <div class="content">

    <h1 class="create-event">
      イベントを作成する
    </h1>

<!--　１ページ目
    <div class="create-book" ui-view=""></div>

    <div class="calendar-area">
      <h2>
        <span class="label" for=""><small>*</small>日程指定</span>
      </h2>
      <calendar toggable="true">
      </calendar>
    </div>

    <div class="clear"></div>

    <div class="btn-next-link">
      <p>次へ</p>
    </div>
-->
<!--　２ページ目

    <h2 class="create-event">
      <span class="label" for=""><small>*</small>候補時間をタップしてください</span>
    </h2>

    <div class="time-selection-area">
      <hr class="create-event">
      <select-time selection-target="possibilities" allow-empty="true">
      </select-time>
    </div>
-->

<!--　３ページ目-->
    <div class="confirm-book-mobile">
      <table>
        <tr>
          <td colspan="2" class="conf-event-title">
            MeetUpリリース打ち上げパーティ
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <hr class="green">
          </td>
        </tr>
        <tr>
          <th>
            所要時間：
          </th>
          <td class="conf-event-duration">
            3 時間くらい
          </td>
        </tr>
        <tr>
          <th>
            コメント：
          </th>
          <td class="conf-event-description">
            高田馬場で飲み放題で〜す。3000円くらい
          </td>
        </tr>
        <tr>
          <th>
            日程：
          </th>
          <td class="conf-event-dates">
            9/15(月), 9/16(火), 9/17(水), 9/15(月), 9/16(火), 9/17(水)
          </td>
        </tr>
      </table>
    </div>

    <div class="gide-arrow"></div>

    <div class="share-url">
      <h2 class="create-event">
        <span class="label" for=""><small>*</small>下記URLを参加者へ送ってください</span>
      </h2>
      <div class="share-box">
        <input type="textbox">
        <div class="copy-box">
          <p>コピー！</p>
        </div>
      </div>
      <div class="clear"></div>
      <div class="share-sns">
        <div class="share-line">
          <p>LINE<br>で送る</p>
        </div>
        <div class="share-twitter">
          <p>twitter<br>で送る</p>
        </div>
        <div class="share-facebook">
          <p>Facebook<br>で送る</p>
        </div>
      </div>
    </div>

    <div class="gide-arrow"></div>

    <div class="btn-goinput">
      <p>自分の予定を入力する</p>
    </div>

  </div>
</div>
