<div class="mainvisual">
  <div class="catch-area">
    <h1>
      <img src="images/common/logo-green.png" class="logo" alt="MeetUp">
      <p class="description">世界最速のスケジュール調整ツール</p>
    </h1>
    <h2>
      <button href="#/events" fast-link>イベントを作成する</button>
    </h2>
  </div>
</div>
<!--
<div class="feature-bar">
  <div class="title">
    <img src="images/common/logo-white.png" alt="MeetUp" class="logo">
    <h2>3つの革命的特徴</h2>
  </div>
</div>
<div class="feature-contents">
  <div class="beat"></div>
  <div class="content">
    <div class="feature-box">
      <h3>1.世界最速</h3>
      <p class="center"><img src="images/common/icon-timer.png" alt="世界最速"></p>
      <p>MeetUpは<b>圧倒的に早い</b>スケジュール調整が可能です。その速さは他のあらゆるツールと比べものになりません。</p>
      <p>旅行、デート、ミーティング、取引先との打ち合わせ……。これらの日程を決めるとき、効率の良い時間の使い方をしたい人は、ぜひ一度試してみてください。</p>
    </div>
    <div class="feature-box">
      <h3>2.ユビキタス</h3>
      <p class="center"><img src="images/common/icon-ubiquitous.png" alt="ユビキタス"></p>
      <p>パソコンはもちろん、MeetUpはスマホでも驚くほど簡単に利用できます。そのため、移動中や外出先でのちょっとした時間で、また、ふとした会話の流れから手軽にスケジュール調整が可能なのです。
      <p><b>「いつでも、どこでも、だれでも」</b><br />MeetUpはこの三原則を徹底的に追求しています。</p>
    </div>
    <div class="feature-box">
      <h3>3.直感的操作</h3>
      <p class="center"><img src="images/common/icon-intuitive.png" alt="直感的操作"></p>
      <p>Meetupは直感的に操作できるデザインを採用しています。都合の良い時間を<b>スワイプするだけのシンプルな操作</b>は、分かりやすい上に、どこか楽しい。</p>
      <p>もしあなたが楽しいイベントを開催するなら、スケジュール調整そのものから楽しくしてみませんか？</p>
    </div>
  </div>
</div>
<div class="howto-bar">
  <div class="title">
    <img src="images/common/logo-white.png" alt="MeetUp" class="logo">
    <h2>とても簡単な使い方</h2>
  </div>
</div>
<div class="howto-contents">
  <div class="content">
    <div class="howto-box">
      <h3>1.イベントの作成</h3>
      <p class="center"><img src="images/common/icon-howto1.png" alt="イベントを作成する"></p>
      <p>イベントの基本情報を入力し、開催日時の候補を選択します。あとは生成されたURLをコピーして参加メンバーに送るだけです。</p>
      <p><b>この間、約30秒。</b></p>
    </div>
    <div class="howto-box">
      <h3>2.予定を入力する</h3>
      <p class="center"><img src="images/common/icon-howto2.png" alt="予定を入力する"></p>
      <p>自分のニックネームとパスワードを入力したら、早速、独特で楽しいスワイプ操作で、自分の都合の良い時間帯に色をつけましょう</p>
      <p>みんなの予定を見たいときはタブを切り替えます。<br /><b>色の濃い場所が、より多くの人が参加できる時間となります。</b>その時間に参加できる人は、タップで確認することが出来ます。</p>
    </div>
    <div class="howto-box">
      <h3>3.日時を決定！</h3>
      <p class="center"><img src="images/common/icon-howto3.png" alt="日時を決定！"></p>
      <p>みんなの予定を見ながら、開催日時を決定します。開催する日時をタップし、「予定を決定」ボタンを押します。</p>
      <p>これだけです。</p>
      <p><b>もっと作業をしたかったですか？</b><br /><b>ごめんなさい！</b></p>
    </div>
  </div>
</div>
<hr class="green">
<div class="mainvisual2">
  <div class="catch-area">
    <h1>
      <img src="images/common/logo-green.png" class="logo" alt="MeetUp">
      <p class="description">世界最速のスケジュール調整ツール</p>
    </h1>
    <button href="#/create-event" fast-link>イベントを作成する</button>
  </div>
</div>







-->












