<div class="events-info">
  <div class="basic-info">
    <h2>
      <div class="duration-h">所要時間</div>
      <div class="duration-text">約{{event.duration}}時間</div>
    </h2>
    <hr>
    <h2 ng-show="event.description.length > 0">
      <div class="comment-h">コメント</div>
      <div class="comment-text">
        {{event.description}}
      </div>
    </h2>
  </div>
  <div class="people-inputed-area">
    <div class="people-inputed-h">
      <h2>入力した人</h2>
      <p><small>*</small>タップすると予定を修正できます</p>
    </div>
    <div class="people-inputed-contents">
      <ul>
        <li
          ng-repeat="participant in participants"
          ng-click="selectUser(participant)"
          ng-class="{selected: selectedUser == participant}"
        >
          {{participant.name}}
          <a href="javascript:void(0)" fast-click="openAvailabilites(participant)" class="edit" ng-show="selectedUser == participant">
            編集
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="recommend-area">
    <div class="recommend-h">
      <h2>オススメ日程</h2>
    </div>
    <table class="recommend-days">
      <tr class="recommend-{{rank}}"
          ng-repeat="(rank, recommendationGroup) in availabilityContainer.recommendations">
        <th class="no{{rank}}">
          No.{{rank}}
        </th>
        <td>
          <ul>
            <li ng-repeat="recommendation in recommendationGroup">
              {{recommendation.date | date: 'M/d(EEE)'}}
              {{recommendation.start|timeFromIndex}}
              〜
              {{recommendation.end|timeFromIndex}}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="notches"></div>

<div class="clear"></div>

<div class="input-area" ng-init="tab = 'display'">

  <div class="tabs">
    <div
      class="tab tab-heatmap"
      ng-switch on="selectedUser"
      ng-click="tab = 'display'"
      ng-class="{active: tab == 'display'}"
    >
      <p ng-switch-when="null">みんなの予定</p>
      <p ng-switch-default>{{selectedUser.name}}の予定</p>
    </div>
    <div
      class="tab tab-input"
      ng-click="tab = 'input'"
      ng-class="{active: tab == 'input'}"
    >
      <p>自分の予定</p>
    </div>
  </div>

  <ng-switch on="tab">
    <div ng-switch-when="display">
      <select-time selection-target="availabilities" class="heat-map" >
      </select-time>
    </div>
    <div ng-switch-when="input">
      <div class="input-schedule">
        <div class="input-login">
          <img src="images/mobile/pencil.png" alt="予定を入力する" class="pencil">
          <table>
            <tr>
              <td colspan="2">
                <h3>予定を入力する</h3>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr>
              <th>名前</th>
              <td><input type="text"></td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td colspan="2">
                <button>
                  <p>決定</p>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="input-login">
          <img src="images/mobile/pencil.png" alt="予定を編集する" class="pencil">
          <table>
            <tr>
              <td colspan="2">
                <h3>予定を編集する</h3>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr>
              <th>名前</th>
              <td><select name="" id=""></select></td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td colspan="2">
                <button>
                  <p>決定</p>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>

<!--   <div class="area-selected">
    <div class="area-selected-info">
      <h3>
        9/2(土) 18:00 〜 18:30
      </h3>
      <hr>
      <div class="clear"></div>
      <ul>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>くわこ</li>
      </ul>
    </div>
    <div class="btn-decide-day">
      <p>開催日時に決定！</p>
    </div>
    <div class="btn-close">
      <p>閉じる</p>
    </div>
  </div>
 -->
</div>
