<div class="events-info">
  <div class="basic-info">
    <h2>
      <div class="duration-h">所要時間</div>
      <div class="duration-text">約3時間</div>
    </h2>
    <hr>
    <h2>
      <div class="comment-h">コメント</div>
      <div class="comment-text">レバ刺しを食べます。死んでも文句言わない人だけ行きましょう！</div>
    </h2>
  </div>
  <div class="people-inputed-area">
    <div class="people-inputed-h">
      <h2>入力した人</h2>
      <p><small>*</small>タップすると予定を修正できます</p>
    </div>
    <div class="people-inputed-contents">
      <ul>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
      </ul>
    </div>
  </div>
  <div class="recommend-area">
    <div class="recommend-h">
      <h2>オススメ日程</h2>
    </div>
    <table class="recommend-days">
      <tr class="recommend-no1">
        <th class="no1">
          No.1
        </th>
        <td>
          <ul>
            <li>9/7（木） 19:30 〜 22:30 ,</li>
            <li>9/7（木） 18:30 〜 21:30</li>
          </ul>
        </td>
      </tr>
      <tr class="recommend-no2">
        <th class="no2">
          No.2
        </th>
        <td>
          <ul>
            <li>9/3（日） 14:30 〜 17:30</li>
          </ul>
        </td>
      </tr>
      <tr class="recommend-no3">
        <th class="no3">
          No.3
        </th>
        <td>
          <ul>
            <li>9/4（月） 13:00 〜 16:00 ,</li>
            <li>9/4（月） 14:00 〜 17:00 ,</li>
            <li>9/5（火） 13:00 〜 16:00</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

      <calendar toggable="true">
      </calendar>

</div>


<div class="notches"></div>

<div class="clear"></div>

<div class="input-area">

  <div class="tabs">
    <div class="tab-heatmap">
      <p>みんなの予定</p>
    </div>
    <div class="tab-input">
      <p>自分の予定</p>
    </div>
  </div>

  <div class="input-schedule">

  <div class="input-new">
    <table>
      <tr>
        <td colspan="2">
          <h3>予定を入力する</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
      <tr>
        <th>名前</th>
        <td><input type="text"></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button>
            <p>決定</p>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="input-edit">
    <table>
      <tr>
        <td colspan="2">
          <h3>予定を編集する</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr>
        </td>
      </tr>
      <tr>
        <th>名前</th>
        <td><select name="" id=""></select></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button>
            <p>決定</p>
          </button>
        </td>
      </tr>
    </table>
  </div>

    <select-time selection-target="possibilities" allow-empty="true">
    </select-time>

  </div>

  <div class="area-selected">
    <div class="area-selected-info">
      <h3>
        9/2(土) 18:00 〜 18:30
      </h3>
      <hr>
      <div class="clear"></div>
      <ul>
        <li>Daniel Perez</li>
        <li>はじぴょん</li>
        <li>そねお</li>
        <li>さそー</li>
        <li>くわこ</li>
        <li>くわこ</li>
      </ul>
    </div>
    <div class="btn-decide-day">
      <p>開催日時に決定！</p>
    </div>
    <div class="btn-close">
      <p>閉じる</p>
    </div>
  </div>

</div>