<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<header class="create-mode">
  <a ui-sref="home" fast-link>
    <div class="back-link">
      <img src="images/mobile/btn-back.png" alt="MeetUp">
    </div>
  </a>
  <a ui-sref="home" fast-link>
    <div class="logo create-center">
      <img src="images/common/logo-white.png" alt="MeetUp">
    </div>
  </a>
  <a ui-sref="home" fast-link>
    <div class="next-link">
      <p>次へ</p>
    </div>
  </a>
</header>