<div class="mainvisual">
  <div class="catch-area">
    <h1>
      <img src="images/common/logo-green.png" class="logo" alt="MeetApp">
      <p class="description">世界最速のスケジュール調整ツール</p>
    </h1>
    <h2>
      <button href="#/create-event" fast-link>イベントを作成する</button>
    </h2>
  </div>
</div>
<div class="feature-bar">
  <div class="title">
    <img src="images/common/logo-white.png" alt="MeetApp" class="logo">
    <h2>3つの革命的特徴</h2>
  </div>
</div>
<div class="feature-contents">
  <ng-include src="'partials/' + device + '/home/features.html'">
  </ng-include>
</div>
<div class="howto-bar">
  <div class="title">
    <img src="images/common/logo-white.png" alt="MeetApp" class="logo">
    <h2>とても簡単な使い方</h2>
  </div>
</div>
<div class="howto-contents">
  <div class="content">
    <div class="howto-box" ng-repeat="usage in usages">
      <ng-switch on="device">
        <div ng-switch-when="mobile">
          <div class="arrow">
            <h3>{{usage.title}}</h3>
          </div>
        </div>
        <div ng-switch-when="desktop">
          <h3>{{usage.title}}</h3>
        </div>
      </ng-switch>
      <ng-include src="usage.template"></ng-include>
    </div>
  </div>
</div>
<hr class="green">
<div class="mainvisual2">
  <div class="catch-area">
    <h1>
      <img src="images/common/logo-green.png" class="logo" alt="MeetApp">
      <p class="description">世界最速のスケジュール調整ツール</p>
    </h1>
    <ng-switch on="device">
      <div ng-switch-when="mobile">
        <h2>
          <img src="images/mobile/iphone.png" alt="MeetApp">
          <div class="clear"></div>
          <button href="#/create-event" fast-link>イベントを作成する</button>
        </h2>
      </div>
      <div ng-switch-when="desktop">
        <button href="#/create-event" fast-link>イベントを作成する</button>
      </div>
    </ng-switch>
  </div>
</div>
