<div class="page">
  <div class="content white">

    <h1 class="create-event">
      イベントを作成する
    </h1>
    <div class="create-book" ui-view=""></div>

    <div class="time-output">
      <p class="label" for="event-name"><small>*</small>日時候補</p>
      <div class="overnavi">
        <div class="overnavi-left"></div>
        <div class="overnavi-right"></div>
      </div>
      <select-time selection-target="possibilities" allow-empty="true">
      </select-time>
    </div>

    <input class="create-event" type="image" src="images/desktop/btn-create-event-long.png" fast-click="saveEvent()">

  </div>
</div>
